{%extends 'base.html'%}
{%block content%}
<section>
    {% if pet.photo_url %}
    <div>
        <img src="{{pet.photo_url}}" style="width: 200px; height: 200px;">
    </div>
    {% endif %}
    <ul>
        <li>Name: {{pet.name}}</li>
        <li>Species: {{pet.species}}</li>
        {% if pet.age %}
        <li>Age: {{pet.age}}</li>
        {% endif %}
    </ul>
</section>
<form id="edit-pet-form" method="POST">
    {{form.hidden_tag()}}
    {% for field in form if field.widget.input_type != 'hidden' %}
        <p>
            {{ field.label }}
            {{ field }}
            {% for error in field.errors %}
                {{ error }}
            {%endfor%}
        </p>
    {%endfor%}
    <button type="submit">Edit Pet</button>
</form>
{%endblock%}